h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 6px 6px 8px #000000;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
h4 {
    text-align: center;
    font-size: 30px;
}
body {
    background-image: url("../images/ocean2.jpg");
    background-size: 100%;
    font-family: 'Joti One', cursive;
    text-align: center;
    color: rgb(250, 240, 240);
}
.skull {
    height: 120px;
}
#guessBlanks {
    font-size: 70px;
    color: goldenrod;
    height: 70px;
}
#guessesRemain, #guessedLetters, #win {
    font-size: 25px;
    color: rgb(250, 240, 240);
}

